# Ignore Python cache files
**/.pyc
**/.csv
**/.tgz
**/*.log
**/*.pkl
**/*.zip
**/datasets/
**/data/
**/__pycache__ 
**/dist/
**/*.egg-info/
**/.pytest_cache/
**/models/
**/templates
**/mlruns
**/build
